<!DOCTYPE HTML>
<html>

<head>
    <title>Daniel Rodrigues - Desenvolvedor Web</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <style>
        /* Estilo para posicionar o botão no canto inferior direito */
        .btn-fixed {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1050; /* Garante que o botão esteja sobre outros conteúdos */
        }
    </style>
</head>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="#" class="image avatar"><img src="../static/images/daniel.jpg" alt="Daniel Rodrigues na 42SP" /></a>
            <h1><strong>Olá, eu sou Daniel Rodrigues</strong>, um desenvolvedor web apaixonado por tecnologia e sempre em busca de novos conhecimentos.</h1>
        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one">
            <!--Translate button -->
            <div id="google_translate_element" style="position: fixed; top: 20px; right: 20px;"></div>
            <header class="major">
                <h2>Bem-vindo ao meu portfólio</h2>
            </header>
            <p>Aqui você encontrará alguns dos meus projetos mais recentes.</p>
            <header class="major">
                <h2>Sobre Mim</h2>
            </header>
            <p>Estudo Desenvolvimento de Software e atualmente estou aprendendo Python, Java, TypeScript e NoSQL. Estou em busca de conhecimento e experiência na área de TI.</p>
            <header class="major">
                <h3>Experiência e Projetos</h3>
            </header>
            <p>Durante minha jornada acadêmica, desenvolvi diversos projetos que refletem minhas habilidades em diferentes tecnologias e frameworks. Um dos projetos mais notáveis foi um sistema de reservas de salas de TI, desenvolvido com PHP, JWT e MySQL, que você pode conferir abaixo. Além disso, tenho experiência com APIs REST, microsserviços e computação em nuvem, utilizando plataformas como Azure para deployment e gerenciamento de aplicações.</p>

            <header>
                <h4>Habilidades</h4>
                <ul>
                    <li><strong>Desenvolvimento de Software:</strong> Python, TypeScript, Java</li>
                    <li><strong>Frameworks e Ferramentas:</strong> Django, Nest.js, Spring Boot</li>
                    <li><strong>Bancos de Dados:</strong> MySQL, MongoDB</li>
                    <li><strong>Controle de Versão e IDE:</strong> Git, VsCode, Github CodeSpaces</li>
                    <li><strong>APIs REST:</strong> Desenvolvimento de APIs REST escaláveis e com alta disponibilidade</li>
                    <li><strong>Microsserviços:</strong> Experiência com FastAPI, Express.js e Spring Boot</li>
                    <li><strong>Cloud Computing:</strong> Deployment e gerenciamento de aplicações na nuvem com AWS e Microsoft Azure</li>
                </ul>
            </header>
            <blockquote>Esta aplicação foi desenvolvida com FastAPI, hospedada no Azure Web Apps, e possui CI/CD configurado com GitHub Actions.</blockquote>
            <ul class="actions">
                <li><a href="https://github.com/danielvor/danielvor" target="_blank" class="button">Ver código fonte</a></li>
            </ul>
        </section>

        <!-- Two -->
        <section id="two">
            <h2>Trabalhos Recentes</h2>
            <h1>Repositórios de danielvor</h1>
            <ul id="repos"></ul>
            <script src="../static/assets/js/repos_github.js"></script>
            <ul class="actions">
                <li><a href="#" class="button">Ver Portfólio Completo</a></li>
            </ul>
        </section>

        <!-- Three -->
        <section id="three">
            <h2>Contato</h2>
            <p>Se você tiver alguma pergunta ou quiser discutir um projeto, sinta-se à vontade para me enviar uma mensagem.</p>
            <div class="row">
                <div class="col-8 col-12-small">
                    <form method="post" action="#">
                        <div class="row gtr-uniform gtr-50">
                            <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Nome" /></div>
                            <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
                            <div class="col-12"><textarea name="message" id="message" placeholder="Mensagem" rows="4"></textarea></div>
							<ul class="actions">
                            	<li><input type="submit" value="Enviar Mensagem" /></li>
                        	</ul>
						</div>
                    </form>
                </div>
                <div class="col-4 col-12-small">
                    <ul class="labeled-icons">
                        <li>
                            <h3 class="icon solid fa-home"><span class="label">Endereço</span></h3>
                            São Paulo - SP - Brasil
                        </li>
                        <li>
                            <h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
                            +55 11 948222885
                        </li>
                        <li>
                            <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                            daniel.rodrigues46@fatec.sp.gov.br
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <!-- Botão para abrir o chat com o Bot -->
    <button type="button" class="btn btn-primary btn-fixed" data-toggle="modal" data-target="#myModal">
        Duno Bot
    </button>

     
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chat com o Bot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
					<iframe src='https://webchat.botframework.com/embed/duno-zzz?s=IExgkJo1H0g.L_1bT0hOYifffc3Nn4OumTgIVq2gUQYKFn_oifMuzTs'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div> 

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="https://linkedin.com/in/danielvor" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://x.com/danielvor_" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/danielvor" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; <a href="http://github.com/danielvor" target="_blank" rel="noopener noreferrer">danielvor</a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/jquery.poptrox.min.js"></script>
    <script src="../static/assets/js/browser.min.js"></script>
    <script src="../static/assets/js/breakpoints.min.js"></script>
    <script src="../static/assets/js/util.js"></script>
    <script src="../static/assets/js/main.js"></script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<script src="../static/assets/js/translate.js"></script>
	<script src="../static/assets/js/bot.js"></script>
</body>

</html>
